<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{name}</title>
    <style type="text/css">
        #navigator{{
            max-width: 50%;
            position: absolute;
            right: 0;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }}
        details{{
            margin-top: 40px;
        }}
        #buttons {{
            position: fixed;
            right: 10px;
        }}
    </style>
</head>
<body>

<div id="navigator">
    <div id="buttons">
        <button id="prev" onclick="window.location='../{prev}/{prev}.html'">{prev}</button>
        <button id="home" onclick="window.location='../index.html'">table of content</button>
        <button id="next" onclick="window.location='../{next}/{next}.html'">{next}</button>
    </div>
    <details>
        <summary>{name} task (spoiler)</summary>
        <p id="content">{content}</p>
    </details>
</div>


<!--  шкодить сюда   -->


<script src="app.js"></script>

</body>
</html>