<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{name}</title>
</head>
<body>

<div style="max-width: 50%; min-width: 400px">
    <button id="prev" onclick="window.location='../{prev}/{prev}.html'">{prev}</button>
    <button id="home" onclick="window.location='../index.html'">table of content</button>
    <button id="next" onclick="window.location='../{next}/{next}.html'">{next}</button>
    <details>
        <summary>{name} task (spoiler)</summary>
        <p id="content">{content}</p>
    </details>
</div>
</body>
</html>